

* {
    box-sizing: border-box;
}

/* Add a gray background  color with some padding */
body {
    font-family: Arial;
    padding: 20px;
    background: rgb(0, 102, 153);
    color: white;
    font-size: 14px;
}


/* Header/Blog Title */
.header {
    padding: 2px;
    font-size: 86px;
    font-family: Satisfy;
    text-align: center;
    transition-duration: 0.4s;
    color: white;
    background: rgb(0, 102, 153);
}

    .header:hover {
        cursor: pointer;
        color: rgb(0, 204, 136);
    }
/*
        h1 {
            transition-duration: 0.4s;
        }

            h1:hover {
                cursor: pointer;
                color: rgb(0,141,149);
            }
        */
p {
    text-align: justify;
}

img {
    image-orientation: from-image;
}


/* Bootstrap Overrides */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.nav-item {
    font-weight: bold;
    font-size: 20px !important;
}

.card-img {
    background-size: cover;
    height: 500px;
}

btn-cyan {
    font-weight:bold !important;
}
